<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VANBANK</title>
    <link rel="shortcut icon" href="/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styleP.css">
</head>
<body>

    <nav class="navbar">

        <div class="nav-logo">
            <img src="/img/logo.ico" alt="logo">
            <h1>VANBANK</h1>
        </div>

        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/cuenta/<%= dato[0] %>" target="myFrame">Cuentas</a>
                </li>
                <li class="nav-item">
                    <a href="/transferencia/<%= dato[0] %>" target="myFrame">Transferencias</a>
                </li>
                <li class="nav-item">
                    <a href="/estado/<%= dato[0] %>" target="myFrame">Estados de Cuenta</a>
                </li>
            </ul>  
        </div>

        <ul class="dropdown">
            <li class="button">
                <img src="/img/log.png" alt="logo">
                <ul class="buttonh">
                    <p href="#">
                        <img src="img/log.png" alt="60" width="60"/><br>
                        Usuario: <%= dato[1] %>
                    </p>
                    <li><a class="dropdown-item" href="/">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
        
    </nav>

    <div class="mt-4 frame">
        <iframe name="myFrame"></iframe>
    </div>

</body>

</html>