@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Concert+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

body{
    height: 100vh;
}

.card {
  background: #ffffff;
  box-shadow: 0 0 5px #9E005D;
  border-radius: 5px;
  margin: 15px 15px 15px 15px;
  width: calc(26.5555% - 40px);
  padding: 20px;
  text-align: center;
  color: black;
  float: left;
}

.icon {
    margin: 50px 0;
    svg {
      width: 100px;
      height: 100px;
      path {
        fill: #F6B352;
      }
    }
}

.features ul{
    padding: 0;
    margin: 20px 0 50px 0;
    list-style-type: none;
}

.features li {
    text-decoration: none;
    margin: 10px 0;
    font-size: 15px;
}

.features li span {
    border-bottom: 2px dotted #ffffff;
    font-weight: 500;
    font-size: 16px;
}

.btn {
    display: block;
    background: #9E005D;
    color: white;
    padding: 10px 5px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.9);
    text-decoration: none;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.info img{
    width: 15%;
    padding-bottom: 50px;
}

/* Estilos para tablets */
@media only screen and (max-width: 768px) {
    .card {
        width: calc(33.3333% - 30px); /* Reducir el ancho de las tarjetas para tablets */
        margin: 15px 15px 15px 15px;
    }
}

/* Estilos para teléfonos en vertical */
@media only screen and (max-width: 576px) {
    .card {
        width: calc(100% - 30px); /* Tarjetas ocupan todo el ancho de la pantalla */
        margin: 15px 15px 15px 15px;
    }

    .icon {
        margin: 30px 0; /* Reducir el margen del icono */
        svg {
            width: 80px; /* Reducir el tamaño del icono */
            height: 80px;
        }
    }

    .features li {
        font-size: 14px; /* Reducir el tamaño de la fuente de las características */
    }

    .btn {
        padding: 8px 5px; /* Reducir el padding del botón */
    }

    .title {
        font-size: 25px; /* Reducir el tamaño del título */
    }

    .info img{
        width: 10%; /* Reducir el tamaño de la imagen */
    }
}